n8n-workflow.json
{
  "name": "Rodzinny Kalendarz — Powiadomienia",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rodzinny-kalendarz",
        "responseMode": "onReceived",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Webhook",
      "webhookId": "rk-notify-001"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n//  KONFIGURACJA — zmień adresy email\n// ============================================================\nconst TATA_EMAIL = 'burritobukovsky@gmail.com';\nconst MAMA_EMAIL = 'mama@example.com'; // ← ZMIEŃ NA EMAIL MAMY\n\n// ============================================================\nconst data = $input.first().json.body || $input.first().json;\n\nconst categoryEmoji = {\n  'szachy':     '♟️',\n  'sprawdzian': '📝',\n  'ortodonta':  '🦷',\n  'konkurs':    '🏆',\n  'inne':       '📌',\n  'opieka':     '👨‍👦'\n};\nconst categoryName = {\n  'szachy':     'Szachy',\n  'sprawdzian': 'Sprawdzian',\n  'ortodonta':  'Ortodonta',\n  'konkurs':    'Konkurs',\n  'inne':       'Inne',\n  'opieka':     'Opieka'\n};\n\nconst emoji   = categoryEmoji[data.category] || '📅';\nconst catName = categoryName[data.category]  || data.category || 'Wydarzenie';\n\nconst dateObj = new Date(data.date + 'T12:00:00');\nconst days    = ['Niedziela','Poniedziałek','Wtorek','Środa','Czwartek','Piątek','Sobota'];\nconst months  = ['stycznia','lutego','marca','kwietnia','maja','czerwca',\n                 'lipca','sierpnia','września','października','listopada','grudnia'];\nconst dateStr = `${days[dateObj.getDay()]}, ${dateObj.getDate()} ${months[dateObj.getMonth()]} ${dateObj.getFullYear()}`;\nconst shortDate = `${dateObj.getDate()} ${months[dateObj.getMonth()]}`;\n\nconst timeStr = data.time\n  ? (data.timeEnd ? `${data.time} – ${data.timeEnd}` : data.time)\n  : 'Cały dzień';\n\nconst title = data.title || data.name || '';\n\nconst rowStyle = 'display:flex;align-items:flex-start;gap:12px;padding:12px 0;border-bottom:1px solid #eef1f5;';\nconst labelStyle = 'font-size:11px;color:#8a94a6;font-weight:700;text-transform:uppercase;letter-spacing:.5px;margin-bottom:3px;';\nconst valueStyle = 'font-size:15px;color:#0f1f3d;font-weight:600;';\n\nlet rows = `\n  <div style=\"${rowStyle}\">\n    <span style=\"font-size:22px;width:28px;text-align:center;\">📅</span>\n    <div><div style=\"${labelStyle}\">Data</div><div style=\"${valueStyle}\">${dateStr}</div></div>\n  </div>\n  <div style=\"${rowStyle}\">\n    <span style=\"font-size:22px;width:28px;text-align:center;\">🕐</span>\n    <div><div style=\"${labelStyle}\">Godzina</div><div style=\"${valueStyle}\">${timeStr}</div></div>\n  </div>`;\n\nif (data.location) {\n  rows += `\n  <div style=\"${rowStyle}\">\n    <span style=\"font-size:22px;width:28px;text-align:center;\">📍</span>\n    <div><div style=\"${labelStyle}\">Miejsce</div><div style=\"${valueStyle}\">${data.location}</div></div>\n  </div>`;\n}\nif (data.notes) {\n  rows += `\n  <div style=\"${rowStyle.replace('border-bottom:1px solid #eef1f5;','')}\">\n    <span style=\"font-size:22px;width:28px;text-align:center;\">💬</span>\n    <div><div style=\"${labelStyle}\">Notatka</div><div style=\"font-size:14px;color:#444;\">${data.notes}</div></div>\n  </div>`;\n}\n\nconst html = `<!DOCTYPE html>\n<html lang=\"pl\">\n<head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"></head>\n<body style=\"margin:0;padding:24px 16px;background:#f0f4f8;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',sans-serif;\">\n  <div style=\"max-width:460px;margin:0 auto;\">\n    <div style=\"background:#0f1f3d;border-radius:16px 16px 0 0;padding:28px 24px;text-align:center;\">\n      <div style=\"font-size:44px;margin-bottom:8px;\">${emoji}</div>\n      <div style=\"display:inline-block;background:rgba(0,201,167,0.15);color:#00c9a7;font-size:10px;font-weight:700;letter-spacing:2px;text-transform:uppercase;padding:4px 12px;border-radius:20px;margin-bottom:10px;\">${catName}</div>\n      <div style=\"color:#ffffff;font-size:21px;font-weight:700;line-height:1.3;\">${title}</div>\n    </div>\n    <div style=\"background:#ffffff;padding:20px 24px;border-radius:0 0 16px 16px;box-shadow:0 4px 20px rgba(0,0,0,0.08);\">\n      ${rows}\n      <div style=\"margin-top:20px;padding:14px;background:#f8fafc;border-radius:10px;text-align:center;\">\n        <a href=\"http://localhost:8080/index.html#${data.familyId || ''}\" style=\"color:#00c9a7;font-size:13px;font-weight:600;text-decoration:none;\">📱 Otwórz Rodzinny Kalendarz</a>\n      </div>\n    </div>\n    <div style=\"text-align:center;padding:16px;\">\n      <div style=\"font-size:11px;color:#9aa5b4;\">Rodzinny Kalendarz · powiadomienie automatyczne</div>\n    </div>\n  </div>\n</body>\n</html>`;\n\nconst subject = `${emoji} ${catName}: ${title} · ${shortDate}`;\n\nreturn [{ json: { html, subject, toTata: TATA_EMAIL, toMama: MAMA_EMAIL } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 0],
      "id": "b2c3d4e5-f6a7-8901-bcde-f23456789012",
      "name": "Formatuj email"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.toTata }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [480, 0],
      "id": "c3d4e5f6-a7b8-9012-cdef-345678901234",
      "name": "Wyślij email",
      "credentials": {
        "gmailOAuth2": {
          "id": "gVnYp5aSCOHhYBmA",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Oblicz czas przypomnienia = wydarzenie - 3 godziny\nconst raw = $input.first().json.body || $input.first().json;\n\n// Potrzebujemy daty i godziny\nif (!raw.date || !raw.time) return []; // brak godziny = brak przypomnienia\n\nconst [year, month, day] = raw.date.split('-').map(Number);\nconst [hour, minute]     = raw.time.split(':').map(Number);\n\n// Czas wydarzenia (strefa Warsaw)\nconst eventMs    = new Date(year, month - 1, day, hour, minute, 0).getTime();\nconst reminderMs = eventMs - 3 * 60 * 60 * 1000; // -3h\nconst nowMs      = Date.now();\n\n// Jeśli przypomnienie byłoby w przeszłości — pomijamy\nif (reminderMs <= nowMs) return [];\n\nconst resumeAt = new Date(reminderMs).toISOString();\n\nreturn [{ json: { ...raw, resumeAt } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 220],
      "id": "d4e5f6a7-b8c9-0123-defa-456789012345",
      "name": "Oblicz przypomnienie"
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{ $json.resumeAt }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [480, 220],
      "id": "e5f6a7b8-c9d0-1234-efab-567890123456",
      "name": "Czekaj 3h przed",
      "webhookId": "rk-reminder-wait-001"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n//  KONFIGURACJA — zmień adresy email\n// ============================================================\nconst TATA_EMAIL = 'burritobukovsky@gmail.com';\nconst MAMA_EMAIL = 'mama@example.com'; // ← ZMIEŃ NA EMAIL MAMY\n\n// ============================================================\nconst data = $input.first().json;\n\nconst categoryEmoji = {\n  'szachy':     '♟️',\n  'sprawdzian': '📝',\n  'ortodonta':  '🦷',\n  'konkurs':    '🏆',\n  'inne':       '📌',\n  'opieka':     '👨‍👦'\n};\nconst categoryName = {\n  'szachy':     'Szachy',\n  'sprawdzian': 'Sprawdzian',\n  'ortodonta':  'Ortodonta',\n  'konkurs':    'Konkurs',\n  'inne':       'Inne',\n  'opieka':     'Opieka'\n};\n\nconst emoji   = categoryEmoji[data.category] || '📅';\nconst catName = categoryName[data.category]  || data.category || 'Wydarzenie';\n\nconst dateObj  = new Date(data.date + 'T12:00:00');\nconst days     = ['Niedziela','Poniedziałek','Wtorek','Środa','Czwartek','Piątek','Sobota'];\nconst months   = ['stycznia','lutego','marca','kwietnia','maja','czerwca',\n                  'lipca','sierpnia','września','października','listopada','grudnia'];\nconst shortDate = `${dateObj.getDate()} ${months[dateObj.getMonth()]}`;\n\nconst timeStr = data.time\n  ? (data.timeEnd ? `${data.time} – ${data.timeEnd}` : data.time)\n  : 'Cały dzień';\n\nconst title = data.title || data.name || '';\n\nconst rowStyle   = 'display:flex;align-items:flex-start;gap:12px;padding:12px 0;border-bottom:1px solid #fff3e0;';\nconst labelStyle = 'font-size:11px;color:#bf6900;font-weight:700;text-transform:uppercase;letter-spacing:.5px;margin-bottom:3px;';\nconst valueStyle = 'font-size:15px;color:#1a1a1a;font-weight:600;';\n\nlet rows = `\n  <div style=\"${rowStyle}\">\n    <span style=\"font-size:22px;width:28px;text-align:center;\">🕐</span>\n    <div><div style=\"${labelStyle}\">Godzina</div><div style=\"${valueStyle}\">${timeStr}</div></div>\n  </div>`;\n\nif (data.location) {\n  rows += `\n  <div style=\"${rowStyle}\">\n    <span style=\"font-size:22px;width:28px;text-align:center;\">📍</span>\n    <div><div style=\"${labelStyle}\">Miejsce</div><div style=\"${valueStyle}\">${data.location}</div></div>\n  </div>`;\n}\nif (data.notes) {\n  rows += `\n  <div style=\"${rowStyle.replace('border-bottom:1px solid #fff3e0;','')}\">\n    <span style=\"font-size:22px;width:28px;text-align:center;\">💬</span>\n    <div><div style=\"${labelStyle}\">Notatka</div><div style=\"font-size:14px;color:#555;\">${data.notes}</div></div>\n  </div>`;\n}\n\nconst html = `<!DOCTYPE html>\n<html lang=\"pl\">\n<head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"></head>\n<body style=\"margin:0;padding:24px 16px;background:#fff8f0;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',sans-serif;\">\n  <div style=\"max-width:460px;margin:0 auto;\">\n    <div style=\"background:#e65100;border-radius:16px 16px 0 0;padding:28px 24px;text-align:center;\">\n      <div style=\"font-size:40px;margin-bottom:6px;\">⏰</div>\n      <div style=\"display:inline-block;background:rgba(255,255,255,0.2);color:#fff;font-size:10px;font-weight:700;letter-spacing:2px;text-transform:uppercase;padding:4px 12px;border-radius:20px;margin-bottom:10px;\">Przypomnienie · za 3 godziny</div>\n      <div style=\"font-size:28px;margin:6px 0;\">${emoji}</div>\n      <div style=\"color:#ffffff;font-size:21px;font-weight:700;line-height:1.3;\">${title}</div>\n      <div style=\"color:rgba(255,255,255,0.8);font-size:14px;margin-top:6px;\">${catName} · ${shortDate}</div>\n    </div>\n    <div style=\"background:#ffffff;padding:20px 24px;border-radius:0 0 16px 16px;box-shadow:0 4px 20px rgba(230,81,0,0.12);\">\n      ${rows}\n      <div style=\"margin-top:20px;padding:14px;background:#fff3e0;border-radius:10px;text-align:center;\">\n        <a href=\"http://localhost:8080/index.html#${data.familyId || ''}\" style=\"color:#e65100;font-size:13px;font-weight:600;text-decoration:none;\">📱 Otwórz Rodzinny Kalendarz</a>\n      </div>\n    </div>\n    <div style=\"text-align:center;padding:16px;\">\n      <div style=\"font-size:11px;color:#bbb;\">Rodzinny Kalendarz · przypomnienie automatyczne</div>\n    </div>\n  </div>\n</body>\n</html>`;\n\nconst subject = `⏰ Za 3h: ${title} · ${timeStr} · ${shortDate}`;\n\nreturn [{ json: { html, subject, toTata: TATA_EMAIL, toMama: MAMA_EMAIL } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 220],
      "id": "f6a7b8c9-d0e1-2345-fabc-678901234567",
      "name": "Formatuj przypomnienie"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.toTata }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [960, 220],
      "id": "a7b8c9d0-e1f2-3456-abcd-789012345678",
      "name": "Wyślij przypomnienie",
      "credentials": {
        "gmailOAuth2": {
          "id": "gVnYp5aSCOHhYBmA",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [[
        {"node": "Formatuj email",        "type": "main", "index": 0},
        {"node": "Oblicz przypomnienie",  "type": "main", "index": 0}
      ]]
    },
    "Formatuj email": {
      "main": [[{"node": "Wyślij email", "type": "main", "index": 0}]]
    },
    "Oblicz przypomnienie": {
      "main": [[{"node": "Czekaj 3h przed", "type": "main", "index": 0}]]
    },
    "Czekaj 3h przed": {
      "main": [[{"node": "Formatuj przypomnienie", "type": "main", "index": 0}]]
    },
    "Formatuj przypomnienie": {
      "main": [[{"node": "Wyślij przypomnienie", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Warsaw"
  },
  "meta": {
    "instanceId": "fedac2a5f3aca410eaea70c9d38efc76d94a3327d379b23e049016b83d06eff0"
  },
  "tags": []
}
